/* Mini reset */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
ul {
  list-style: none;
}
button, input, select, textarea {
  margin: 0;
}

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
  text-align: left;
}

body {
  font-family: 'theano_modernregular';
  background-color: @body-background;
  font-weight: normal;
  .font-size(1.5);
  color: @dark;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

section {

  @media @tablet {
    padding: 10*@unit 0;
  }
}


.google-map {
  iframe {
    height: 300px;
    @media @tablet {
      height: 400px;
    }

  }
}

.svg-icon {
  width: 36px;
  height: 36px;
}


.double-border {
  position: relative;
  border-top: 2px solid @dark;
  border-bottom: 2px solid @dark;

  &:before, &:after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    width: 100%;
    height: 1px;
    background-color: @dark;
  }
  &:before {
    top: -4px;
  }
  &:after {
    bottom: -4px;
  }
}

.hp-main {
  .display-flex();
  .flex-direction(column);

  @media @tablet {
    .flex-direction(row);

  }

  .section-left {

    @media @tablet {
      width: 20%;
    }
  }

  .section-middle {


    border-left: 4px solid @dark;
    border-right: 4px solid @dark;

    @media @tablet {
      width: 60%;
    }
  }

  .section-right {

    @media @tablet {
      width: 20%;
      .order(-1);
    }
  }
}


