body {
  font-family: @font-family-base;
  font-weight: normal;
  .font-size(18);
  background-color: #f1f3f5;
  color: @text-color;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media @tablet {
    width: 750px;
  }
  @media @desktop {
    width: 970px;
  }
  @media @widescreen {
    width: 1170px;
  }
}

.section {
  padding: 23px 40px;
  min-height: 100vh;

  &--main {
    background-color: fadeout(#323e50, 10%);
    color: #f0cf9b;
    .main-heading {
      .font-size(100);
      color: #f0cf9b;
    }

    .sub-heading {
      .font-size(24);
    }

    svg{
      display: block;
      margin: 8px auto;
      fill: #f0cf9b;
    }

    #wheel {
      animation: scroll-down 2s 3s ease-in-out infinite;
    }
  }
}



@keyframes scroll-down {
  0% {
    .translateY(0px);
  }
  50% {
    .translateY(4px);
  }
  100% {
    .translateY(0px);
  }
}

.svg-icon {
  width: 36px;
  height: 36px;
}