
h1, h2, h3, h4, h5, h6 {
  font-family: 'merriweather_black', serif;
  font-weight: normal;
  margin-bottom: 1.5*@unit;
  color: @dark;

  @media @tablet {
    margin-bottom: 2*@unit;
  }
}

h1 {
  .font-size(3);

  @media @tablet {
    .font-size(3.2);
  }
  @media @desktop {
    .font-size(3.6)
  }
}

h2 {
  .font-size(2.6);

  @media @tablet {
    .font-size(2.8);
  }
  @media @desktop {
    .font-size(3.2);
  }

}

h3 {
  .font-size(2.2);
  @media @tablet {
    .font-size(2.4);
  }
  @media @desktop {
    .font-size(2.8);
  }
}

h4 {
  .font-size(1.8);
  @media @tablet {
    .font-size(2);
  }
  @media @desktop {
    .font-size(2.4);
  }
}

.small {
  .font-size(1.3);
}



p {
  @media @desktop {
    .font-size(1.6);
  }

  a {
    text-decoration: underline;
  };
}

.lead {
  .font-size(1.6);
  font-weight: bold;

}

a {
  font-weight: bold;
  background: -webkit-linear-gradient(@body-background, @body-background), -webkit-linear-gradient(@body-background, @body-background), -webkit-linear-gradient(@dark, @dark);
  background: linear-gradient(@body-background, @body-background), linear-gradient(@body-background, @body-background), linear-gradient(@dark, @dark);
  background-size: .05em 2px, .05em 2x, 2px 2px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 @body-background, -0.03em 0 @body-background, 0 0.03em @body-background, 0 -0.03em @body-background, 0.06em 0 @body-background, -0.06em 0 @body-background, 0.09em 0 @body-background, -0.09em 0 @body-background, 0.12em 0 @body-background, -0.12em 0 @body-background, 0.15em 0 @body-background, -0.15em 0 @body-background;
  background-position: 0 90%, 100% 90%, 0 83%;
  text-decoration: none;
  color: @dark;
  -webkit-transition: color .15s;
  transition: color .15s;
}
a:hover, a:focus {
  color: @dark;
  background: transparent;
  -webkit-transition: color .15s;
  transition: color .15s;
}
a::-moz-selection {
  background-image: none;
  background-color: @dark;
  color: @body-background;
  text-shadow: none;
}
a::selection {
  background-image: none;
  background-color: @dark;
  color: @body-background;
  text-shadow: none;
}