/* Media queries */
@480:           ~"only screen and (min-width: 480px)";
@tablet:        ~"only screen and (min-width: 769px)";
@desktop:       ~"only screen and (min-width: 991px)";
@widescreen:    ~"only screen and (min-width: 1200px)";

/*
USE
@media @tablet {
  footer {
    width: 768px;
  }
}
@media @desktop {
  footer {
    width: 940px;
  }
}
*/

@unit: 8px;

@brand-text:        #202020;
@brand-primary:     #87ABCF;
@dark:              #202020;
@body-background:   #f5f2d5;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.


@font-family-headings: 'merriweather_black', serif;
@font-family-base: 'theano_modernregular';
//@font-family-base: 'merriweather_light', serif;

//@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
//@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
//@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
//@font-family-base:        @font-family-sans-serif;