.header {
  padding-top: 8px;
  position: relative;

  @media @desktop {
    padding-top: 48px;
  }
}

.header-content {
  &.bg-hp {
    background: url("../img/bg-hp-lg-hd.jpg") center bottom / cover no-repeat;
  }
  &.bg-jasanky {
    background: url("../img/bg-jasanky.jpg") center bottom / cover no-repeat;
  }


  position: relative;
  background-color: #ccc;
  min-height: 180px;
  margin: 24px 0 16px 0;


  @media @tablet {
    background-size: cover;
    min-height: 270px;
  }

  @media @desktop {
    min-height: 350px;
    margin-top: 110px;
  }

  .logo {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: @body-background;
    top: 8px;
    padding: 8px;
    right: 10%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    z-index: 4;



    @media @tablet {
      border: medium double @dark;
    }

    @media @desktop {
      position: absolute;
      width: 130px;
      height: 130px;
      right: 40px;
      top: -59px;
    }
  }
}

.header-title {
  position: relative;
  text-transform: uppercase;
  padding: 8px 0;
  border-top: 2px solid @dark;
  border-bottom: 2px solid @dark;
  margin-bottom: 4px;
  .display-flex();
  .flex-wrap(wrap);
  .justify-content(space-between);
  .align-items(center);

  @media @tablet {
    .flex-wrap(nowrap);
  }

  &:before, &:after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    width: 100%;
    height: 1px;
    background-color: @dark;
  }

  &:before {
    top: -6px;
  }

  &:after {
    bottom: -6px
  }


  .page-title {
    width: 100%;
    font-size: 5vw;
    margin: 0;
    text-align: center;

    @media @tablet {
      width: auto;
      font-size: 2vw;
      .order(1);
      .flex(1 0 60%);
      padding: 0 40px;
      border-right: 1px solid @dark;
      border-left: 1px solid @dark;

    }

    @media @desktop {
      .font-size(30);

    }

  }

  p {
    font-family: 'merriweather_light', serif;
    text-align: center;
    .flex(1 0 auto);

    @media @tablet {
      .flex(1 0 20%);
    }

    &.lp{
      @media @tablet {
        .order(2);
      }
    }

    &.fb {
      margin: 0;
      width: 36px;
      height: 36px;

      @media @tablet {
        .order(0);
      }
    }

    span {
      font-style: italic;
    }
  }
}